@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

/* Animation webkit */

@-webkit-keyframes myfirst {
    0% {
        margin-left: -235px
    }
    90% {
        margin-left: 100%;
    }
    100% {
        margin-left: 100%;
    }
}


/* Animation */

@keyframes myfirst {
    0% {
        margin-left: -235px
    }
    70% {
        margin-left: 100%;
    }
    100% {
        margin-left: 100%;
    }
}

header-body {
    height: 160px;
    background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png') repeat-x bottom;
}

.formgroup,
.formgroup-active,
.formgroup-error {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 10.5%;
    transition: background-image 0.7s;
    -webkit-transition: background-image 0.7s;
    -moz-transition: background-image 0.7s;
    -o-transition: background-image 0.7s;
    width: 566px;
    padding-top: 2px;
}

.formgroup {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');
}

.formgroup-active {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}

.formgroup-error {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
    color: red;
}

.button1 {
    background-color: rgb(8, 101, 62);
    color: aliceblue;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}