.products {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.products li {
    padding-left: 15px;
    padding-right: 15px;
    flex-basis: 25%;
    box-sizing: border-box;
    margin-bottom: 30px;
}

ul.products li img {
    width: 299px;
    max-width: 100%;
    height: auto;
}

ul.products li .product-top {
    position: relative;
    overflow: hidden;
}

ul.products li .product-top a.product-thumb {
    display: block;
}

ul.products li:hover .product-top a.product-thumb img {
    filter: brightness(80%);
}

ul.products li .product-top a.product-thumb img {
    display: block;
}

ul.products li .product-top a.buy-now {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446084;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    bottom: -36px;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
}

ul.products li:hover a.buy-now {
    bottom: 0px;
}

ul.products li .product-info {
    padding: 10px 0px;
}

ul.products li .product.info a {
    display: block;
    text-decoration: none;
}

ul.products li .product.info a.product-cat {
    font-size: 11px;
    text-transform: uppercase;
    color: #9e9e9e;
    padding: 3px 0px;
}

ul.products li .product.info a.product-name {
    color: #334862;
}

ul.products li .product.info a.product-price {
    color: #111;
    padding: 2px 0px;
    font-weight: 600;
}


/* Fixed sidenav, full height */

.sidenav {
    height: 100%;
    width: 250px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
}


/* Style the sidenav links and the dropdown button */

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


/* On mouse-over */

.sidenav a:hover,
.dropdown-btn:hover {
    color: #1bc02e;
}


/* Main content */

.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}


/* Add an active class to the active dropdown button */

.active {
    background-color: rgb(126, 227, 126);
    color: white;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    background-color: #ffffff;
    padding-left: 8px;
}


/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}