<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="#">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a class="navbar-brand" href="home.html">
                        <img src="image/thiet-ke-logo-nha-sach-book-pink.png " width="250px" class="logo-img" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <img src="image/gop-y-vn.png" width="350px" alt="text">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12"></div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="search-wrapper">
                        <input type="text" placeholder="Tìm kiếm sản phẩm...">
                        <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="mainnav">
            <div class="wrapper">
                <ul class="menu clearfix" list-style-type="none">
                    <li>
                        <a href="product.html">Danh mục sách</a>
                        <ul class="submenu">
                            <li><a href="">Văn học Việt Nam</a>
                                <ul class="submenu2">
                                    <li><a href="">Tiểu thuyết</a></li>
                                    <li><a href="">Truyện ngắn</a></li>
                                    <li><a href="">Thơ / Kịch</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Văn học Nước Ngoài</a>
                                <ul class="submenu2">
                                    <li><a href=""> Đương đại</a></li>
                                    <li><a href="">Lãng mạn</a></li>
                                    <li><a href="">Trinh thám / Kinh dị</a></li>
                                    <li><a href="">Thơ / Kịch</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Thiếu nhi</a>
                                <ul class="submenu2">
                                    <li><a href="">Tuổi teen</a></li>
                                    <li><a href="">Truyện tranh</a></li>
                                    <li><a href="">Thiếu nhi</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Khoa học tự nhiên - Nhân văn</a>
                                <ul class="submenu2">
                                    <li><a href="">Lịch sử</a></li>
                                    <li><a href="">Triết học</a></li>
                                    <li><a href="">Kinh tế</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="">Sách bán chạy</a></li>
                    <li class="show-mobile"><a href="">Giới thiệu</a></li>

                    <li class="show-mobile"><a href="">Lịch sử giao dịch</a></li>

                    <li class="show-mobile"><a href="">Kiểm tra đơn hàng</a></li>
                </ul>
            </div>
        </div>

    </header>

    <div class="body">
        <div class="title-wrapper">
            <h3>Giới thiệu</h3>
        </div>
        <div class="about" style="background-color: aliceblue; max-width: 150ch; max-height: auto; margin: auto; margin-bottom: 5px; box-shadow: 0px 0px 5px 1px;">
            <div class="container" style="padding: 40px;">
                <p>Công ty cổ phần Văn hóa và Truyền thông Nhã Nam</p>
                <p>Tháng 2 năm 2005, Nhã Nam, tên đầy đủ là Công ty Cổ phần Văn hóa và Truyền thông Nhã Nam đã gia nhập thị trường sách. Tác phẩm "Balzac và cô bé thợ may Trung hoa" của Đới Tư Kiệt là cuốn sách đầu tiên được những người sáng lập Nhã Nam
                    xuất bản cả trước khi công ty ra đời. Ngay lập tức từ cuốn sách đầu tiên, độc giả đã dành sự quan tâm và yêu mến cho một thương hiệu sách mới mẻ mang trong mình khát vọng góp phần tạo lập diện mạo mới cho xuất bản văn học tại Việt
                    Nam.
                </p>
                <p>Lòng say mê của đội ngũ là viên đá đầu tiên. Trải qua mấy năm phát triển, Nhã Nam đã được xây dựng dần lên trong diện mạo một nhà xuất bản vững chãi và chuyên nghiệp. Sáu tháng sau khi thành lập công ty, Nhật ký Đặng Thùy Trâm ra đời,
                    tạo nên một cơn sốt trong xã hội, với gần 500,000 bản sách được phát hành, phá mọi kỷ lục về xuất bản trước đó, kéo theo một loạt những hiệu ứng xã hội và dư luận có ý nghĩa. Từ đó trở đi, thông qua Nhã Nam, các cuốn sách văn học nước
                    ngoài có giá trị được liên tục mua bản quyền và xuất bản tại Việt Nam, thu hút nhiều tầng lớp độc giả. Sách của Nhã Nam nổi bật bởi nội dung văn học tinh tế, bởi vẻ đẹp của thiết kế hiện đại ở hình thức, bởi sự chăm chút kỹ lưỡng cho
                    mỗi cuốn sách như một con thuyền mang tới niềm vui, tri thức, ngạc nhiên, và đồng cảm.</p>
                <p>Trong lĩnh vực văn học, các dòng sách được phát triển cả bề rộng lẫn chiều sâu, mang độc giả vào những chuyến viễn du diệu vợi nhất của thế giới hư cấu. Và những tác động trở lại thật đáng kinh ngạc. Rất nhiều những nhân vật truyện thiếu
                    nhi đã hiện diện sống động trong sự yêu mến của độc giả Việt Nam, như Nhóc Nicolas, Bác Phiôđo, Cedric, Pippi Tất dài, Emil, Gấu Pooh… Liên tiếp các giải thưởng văn học của Hội Nhà văn Hà Nội, Hội Nhà văn Việt Nam đã được trao cho
                    những tác phẩm, những bản dịch chất lượng hàng năm của Nhã Nam như: Cuộc đời của Pi (Trịnh Lữ dịch), Gửi V.B (Phan Thị Vàng Anh), Biên niên ký chim vặn dây cót (Trần Tiễn Cao Đăng dịch), Nửa kia của Hítle (Nguyễn Đình Thành dịch),
                    Tên tôi là Đỏ (Phạm Viêm Phương dịch). Đặc biệt cuốn Trần Dần - Thơ, vào năm 2008, là cuốn sách đáng tự hào vì sự dũng cảm và đóng góp cho văn hóa của Nhà xuất bản, tôn vinh một trong những nhà thơ huyền thoại có cuộc đời sóng gió
                    trong thế kỷ XX, đoạt Giải thành tựu trọn đời của Hội Nhà văn Hà Nội... Từ Nhã Nam, những cuốn sách đã thực sự mở ra những cách nhìn mới về lối sống, làm thay đổi hệ quan niệm cũ, như: Rừng Na-uy của Haruki Murakami, Đôi mắt ấy vẫn
                    ở trên giường của Yamada Amy... Những tác phẩm văn chương, triết lý trứ danh một thời cũng tiếp tục được phát hiện lại và có được đời sống mới: Bắt trẻ đồng xanh (J. D. Salinger), Giết con chim nhại (Harper Lee), Người tình (Marguerite
                    Duras), Đại gia Gatsby (Scott Fitzgerald), Siêu hình tình yêu siêu hình sự chết (Arthur Shopenhauer), Zarathustra đã nói như thế (F. Nietzsche)... Nhã Nam, đã có thể tự hào khi trở thành nhà xuất bản Việt Nam của những cái tên lẫy
                    lừng nhất của văn học thế giới: Salman Rushdie, Milan Kundera, Italo Calvino, Umberto Eco, Vladimir Nabokov, Orhan Pamuk, Margaret Atwood, Philip Roth, Herman Hesse, Ernest Hemingway… Và cuối cùng, một loạt những tác giả do Nhã Nam
                    xuất bản đã có được lượng fan đông đảo, góp phần đánh thức niềm say mê đọc văn chương trong số đông các độc giả trẻ tuổi, như Marc Levy, Guillaume Musso, Anna Gavalda, Amélie Nothomb, Cecelia Ahern, Banana Yoshimoto, Koji Suzuki…Nhã
                    Nam, trên thực tế, đã trở thành một người bạn tinh thần, người định hướng đọc sách cho rất nhiều bạn trẻ, là cầu nối giữa độc giả Việt Nam với nền văn hóa đọc mênh mông của thế giới.
                </p>
                <p>Từ cuối năm 2008, với sự trưởng thành mạnh mẽ của tổ chức, Nhã Nam đã mở rộng sự quan tâm sang các mảng sách non-fiction như lịch sử, triết học, khoa học, sách về các vấn đề xã hội, văn hóa đương đại, sách khai trí, tham khảo, triết lý
                    sống... Trong lĩnh vực này, Nhã Nam đã trở thành nhà xuất bản của những tác gia quan trọng trên thị trường xuất bản thế giới hiện nay: Đức Đạt Lai Lạt Ma, Deepak Chopra, Don Miguel Ruiz, Naomi Klein, Elisabeth Gilbert... Trong thời
                    gian tới, công ty sẽ tiếp tục phát triển mạnh các mảng sách văn học mà lâu nay vẫn chưa được quan tâm đúng mức ở Việt Nam, như tiểu thuyết khoa học giả tưởng, văn chương kỳ ảo, truyện tranh thế hệ mới… Sự ra đời của các bộ sách lớn
                    của J.R.R Tolkien hay Frank Herbert trong năm 2009 là một minh chứng cho điều đó.
                </p>
                <p>***</p>
                <p>Hiểu thời đại đang sống thông qua sách, song hành với những biến chuyển sâu sắc trong lòng xã hội bằng những hoạt động xuất bản miệt mài và quả cảm, con đường Nhã Nam đã chọn để đi sẽ còn dài. Nhiều khó khăn, thử thách đang ở phía trước.
                    Bước qua thời kỳ sơ khai với những bài học và những kinh nghiệm đầu tiên, Nhã Nam giờ đã sẵn sàng cho một chặng đường phát triển mới. Và chúng tôi muốn hoàn thiện mình trong sự cầu thị và cẩn trọng. Tất cả vì một gia sản sách to lớn,
                    có sức sống dài lâu, có ý nghĩa với nhiều thế hệ bạn đọc.</p>
                <p>Bởi vì sách là thế giới. </p>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-top">
            <li>
                <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                <a href="https://twitter.com/?lang=vi" class="fab fa-twitter"></a>
                <a href="https://www.youtube.com/" class="fab fa-youtube"></a>
                <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
            </li>
        </div>
        <div id="footer-top">
            <div class="container">
                <div class="row">
                    <div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
                        <h3>TRỤ SỞ CHÍNH</h3>
                        <ul style="list-style-type:disc">
                            <li>Số 1 Đại Cồ Việt, Quận Hai Bà Trưng, Hà Nội </li>
                            <li><i class="iphone"> Số điện thoại: (84.028) 39316289</i></li>
                            <li>Email:hopthu@nsach.com.vn</li>
                        </ul>
                    </div>
                    <div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
                        <h3>CHI NHÁNH HÀ NỘI</h3>
                        <ul style="list-style-type:disc">
                            <li>Số 21, Khu Đầm Trấu, Quận Hai Bà Trưng, Hà Nội </li>
                            <li><i class="iphone"> Số điện thoại: (024) 37734544</i></li>
                            <li>Email:chinhanhhanoi@nsach.com</li>
                        </ul>
                    </div>
                    <div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
                        <h3>CHI NHÁNH MIỀN TRUNG</h3>
                        <ul style="list-style-type:disc">
                            <li>470 Hoàng Diệu, Q.Hải Châu, TP. Đà Nẵng </li>
                            <li><i class="iphone"> Số điện thoại: (023) 63539885</i></li>
                            <li>Email:chinhanhmientrung@nsach.com</li>
                        </ul>
                    </div>
                    <div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
                        <h3>CHI NHÁNH MIỀN NAM </h3>
                        <ul style="list-style-type:disc">
                            <li>(Tầng 2) 260 Lê Lợi, Phường 4, TP. Hồ Chí Minh </li>
                            <li><i class="iphone"> Số điện thoại: 02543600139</i></li>
                            <li>Email:chinhanhmiennam@nsach.com</li>
                        </ul>
                    </div>
                    <div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
                        <h3>CỬA HÀNG GIỚI THIỆU </h3>
                        <ul style="list-style-type:disc">
                            <li>157 Lý Chính Thắng, Quận 3, Thành phố Hồ Chí Minh </li>
                            <li><i class="iphone"> Số điện thoại: (028) 39311433</i></li>
                        </ul>
                    </div>
                    <div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
                        <h3>GIAN HÀNG SÁCH TẠI HCM</h3>
                        <ul style="list-style-type:disc">
                            <li>Đường sách TP. Hồ Chí Minh - P. Bến Nghé, Quận 1, Thành phố Hồ Chí Minh </li>
                            <li><i class="iphone"> Số điện thoại: 02839141579</i></li>
                        </ul>
                    </div>
                    <div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
                        <h3>TRUNG TÂM SÁCH CŨ</h3>
                        <ul style="list-style-type:disc">
                            <li>815-815B Lũy Bán Bích, P. Tân Thành, Quận Tân Phú, Thành phố Hồ Chí Minh </li>
                            <li><i class="iphone"> Số điện thoại: 0327744002</i></li>
                        </ul>
                    </div>
                    <div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
                        <h3>GIẤY PHÉP HOẠT ĐỘNG</h3>
                        <ul>
                            <li>Giấy phép hoạt động xuất bản số:151/GP-BTTTT ngày 14/4/2017 của Bộ Thông tin và Truyền thông</li>
                            <li>Giấy chứng nhận đăng ký kinh doanh số 4104003288, ngày 23/01/2008 của Phòng Đăng ký kinh doanh, Sở kế hoạch đầu tư thành phố Hồ Chí Minh.</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <a>© 2014 - Bản quyền của Công Ty Cổ Phần Văn Hoá và Truyền Thông Bookstore - bookstore.com.vn</a>
            <br>
            <a>Địa chỉ: 59 Đỗ Quang, phường Trung Hoà, quận Cầu Giấy, Hà Nội</a>
            <br>
            <a>Giấy ĐKKD số 0101603420 do Sở KH&ĐT TP Hà Nội cấp ngày 21 tháng 1 năm 2005 sửa đổi lần 5 ngày 20/3/2013</a>
        </div>
    </footer>
</body>

</html>