<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="#">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <style>
        /* Fixed sidenav, full height */
        
        .sidenav {
            height: 100%;
            width: 250px;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #ffffff;
            overflow-x: hidden;
            padding-top: 20px;
        }
        /* Style the sidenav links and the dropdown button */
        
        .sidenav a,
        .dropdown-btn {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
        }
        /* On mouse-over */
        
        .sidenav a:hover,
        .dropdown-btn:hover {
            color: #1bc02e;
        }
        /* Main content */
        
        .main {
            margin-left: 200px;
            /* Same as the width of the sidenav */
            font-size: 20px;
            /* Increased text to enable scrolling */
            padding: 0px 10px;
        }
        /* Add an active class to the active dropdown button */
        
        .active {
            background-color: rgb(126, 227, 126);
            color: white;
        }
        /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
        
        .dropdown-container {
            display: none;
            background-color: #ffffff;
            padding-left: 8px;
        }
        /* Optional: Style the caret down icon */
        
        .fa-caret-down {
            float: right;
            padding-right: 8px;
        }
    </style>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a class="navbar-brand" href="home.html">
                        <img src="image/thiet-ke-logo-nha-sach-book-pink.png " width="250px" class="logo-img" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <img src="image/gop-y-vn.png" width="350px" alt="text">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12"></div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="search-wrapper">
                        <input type="text" placeholder="Tìm kiếm sản phẩm...">
                        <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="mainnav">
            <div class="wrapper">
                <ul class="menu clearfix" list-style-type="none">
                    <li>
                        <a href="">Danh mục sách</a>
                        <ul class="submenu">
                            <li><a href="">Văn học Việt Nam</a>
                                <ul class="submenu2">
                                    <li><a href="">Tiểu thuyết</a></li>
                                    <li><a href="">Truyện ngắn</a></li>
                                    <li><a href="">Thơ / Kịch</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Văn học Nước Ngoài</a>
                                <ul class="submenu2">
                                    <li><a href="">Đương đại</a></li>
                                    <li><a href="">Lãng mạn</a></li>
                                    <li><a href="">Trinh thám / Kinh dị</a></li>
                                    <li><a href="">Thơ / Kịch</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Thiếu nhi</a>
                                <ul class="submenu2">
                                    <li><a href="">Tuổi teen</a></li>
                                    <li><a href="">Truyện tranh</a></li>
                                    <li><a href="">Thiếu nhi</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Khoa học tự nhiên - Nhân văn</a>
                                <ul class="submenu2">
                                    <li><a href="">Lịch sử</a></li>
                                    <li><a href="">Triết học</a></li>
                                    <li><a href="">Kinh tế</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="">Sách bán chạy</a></li>
                    <li class="show-mobile"><a href="">Giới thiệu</a></li>

                    <li class="show-mobile"><a href="">Lịch sử giao dịch</a></li>

                    <li class="show-mobile"><a href="">Kiểm tra đơn hàng</a></li>
                </ul>
            </div>
        </div>

    </header>

    <div class="body">
        <div class="row">
            <div class="col-lg-2">
                <div class="sidenav">
                    <button class="dropdown-btn">Văn học Việt Nam
                  <i class="fa fa-caret-down"></i>
                </button>
                    <div class="dropdown-container">
                        <a href="#">Tiểu thuyết</a>
                        <a href="#">Truyện ngắn</a>
                        <a href="#">Thơ / Kịch</a>
                    </div>
                    <button class="dropdown-btn">Văn học nước ngoài
                    <i class="fa fa-caret-down"></i>
                  </button>
                    <div class="dropdown-container">
                        <a href="#">Đương đại</a>
                        <a href="#">Lãng mạn</a>
                        <a href="#">Trinh thám / Kinh dị</a>
                        <a href="#">Thơ / Kịch</a>
                    </div>
                    <button class="dropdown-btn">Khoa học tự nhiên - Nhân văn
                    <i class="fa fa-caret-down"></i>
                  </button>
                    <div class="dropdown-container">
                        <a href="#">Lịch sử</a>
                        <a href="#">Triết học</a>
                        <a href="#">Kinh tế</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <div class=" wrapper mt-3">
                    <ul class="products">
                        <li>
                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="https://bizweb.dktcdn.net/100/180/408/products/len-chui-silo-thap-giong-1.png?v=1678041946017" alt="">
                                    </a>
                                    <a href="" class="buy-now">Mua ngay</a>
                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Văn học</a>
                                    <a href="" class="product-name"> LEN CHÙI - SILO THÁP GIỐNG</a>
                                    <div class="product-price">214.400đ</div>
                                </div>
                            </div>
                        </li>
                        <li>

                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="https://bizweb.dktcdn.net/100/180/408/products/len-chui-silo-thap-giong-1.png?v=1678041946017" alt="">
                                    </a>
                                    <a href="" class="buy-now">Mua ngay</a>
                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Văn học</a>
                                    <a href="" class="product-name"> LEN CHÙI - SILO THÁP GIỐNG</a>
                                    <div class="product-price">214.400đ</div>
                                </div>
                            </div>
                        </li>
                        <li>

                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="https://bizweb.dktcdn.net/100/180/408/products/len-chui-silo-thap-giong-1.png?v=1678041946017" alt="">
                                    </a>
                                    <a href="" class="buy-now">Mua ngay</a>
                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Văn học</a>
                                    <a href="" class="product-name"> LEN CHÙI - SILO THÁP GIỐNG</a>
                                    <div class="product-price">214.400đ</div>
                                </div>
                            </div>
                        </li>
                        <li>

                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="https://bizweb.dktcdn.net/100/180/408/products/len-chui-silo-thap-giong-1.png?v=1678041946017" alt="">
                                    </a>
                                    <a href="" class="buy-now">Mua ngay</a>
                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Văn học</a>
                                    <a href="" class="product-name"> LEN CHÙI - SILO THÁP GIỐNG</a>
                                    <div class="product-price">214.400đ</div>
                                </div>
                            </div>
                        </li>
                        <li>

                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="https://bizweb.dktcdn.net/100/180/408/products/len-chui-silo-thap-giong-1.png?v=1678041946017" alt="">
                                    </a>
                                    <a href="" class="buy-now">Mua ngay</a>
                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Văn học</a>
                                    <a href="" class="product-name"> LEN CHÙI - SILO THÁP GIỐNG</a>
                                    <div class="product-price">214.400đ</div>
                                </div>
                            </div>
                        </li>
                        <li>

                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="https://bizweb.dktcdn.net/100/180/408/products/len-chui-silo-thap-giong-1.png?v=1678041946017" alt="">
                                    </a>
                                    <a href="" class="buy-now">Mua ngay</a>
                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Văn học</a>
                                    <a href="" class="product-name"> LEN CHÙI - SILO THÁP GIỐNG</a>
                                    <div class="product-price">214.400đ</div>
                                </div>
                            </div>
                        </li>
                        <li>

                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="https://bizweb.dktcdn.net/100/180/408/products/len-chui-silo-thap-giong-1.png?v=1678041946017" alt="">
                                    </a>
                                    <a href="" class="buy-now">Mua ngay</a>
                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Văn học</a>
                                    <a href="" class="product-name"> LEN CHÙI - SILO THÁP GIỐNG</a>
                                    <div class="product-price">214.400đ</div>
                                </div>
                            </div>
                        </li>
                        <li>

                            <div class="product-item">
                                <div class="product-top">
                                    <a href="" class="product-thumb">
                                        <img src="https://bizweb.dktcdn.net/100/180/408/products/len-chui-silo-thap-giong-1.png?v=1678041946017" alt="">
                                    </a>
                                    <a href="" class="buy-now">Mua ngay</a>
                                </div>
                                <div class="product-info">
                                    <a href="" class="product-cat">Văn học</a>
                                    <a href="" class="product-name"> LEN CHÙI - SILO THÁP GIỐNG</a>
                                    <div class="product-price">214.400đ</div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>


    </div>

    <footer>
        <div class=" footer-top ">
            <li>
                <a href="https://www.facebook.com " class="fab fa-facebook-f "></a>
                <a href="https://twitter.com/?lang=vi " class="fab fa-twitter "></a>
                <a href="https://www.youtube.com/ " class="fab fa-youtube "></a>
                <a href="https://www.instagram.com/ " class="fab fa-instagram "></a>
            </li>
        </div>
        <div id="footer-top ">
            <div class="container ">
                <div class="row ">
                    <div id="logo-2 " class="col-lg-3 col-md-6 col-sm-12 ">
                        <h3>TRỤ SỞ CHÍNH</h3>
                        <ul style="list-style-type:disc ">
                            <li>Số 1 Đại Cồ Việt, Quận Hai Bà Trưng, Hà Nội </li>
                            <li><i class="iphone "> Số điện thoại: (84.028) 39316289</i></li>
                            <li>Email:hopthubandoc@nsach.com.vn</li>
                        </ul>
                    </div>
                    <div id="logo-2 " class="col-lg-3 col-md-6 col-sm-12 ">
                        <h3>CHI NHÁNH HÀ NỘI</h3>
                        <ul style="list-style-type:disc ">
                            <li>Số 21, Khu Đầm Trấu, Quận Hai Bà Trưng, Hà Nội </li>
                            <li><i class="iphone "> Số điện thoại: (024) 37734544</i></li>
                            <li>Email:chinhanhhanoi@nsach.com</li>
                        </ul>
                    </div>
                    <div id="logo-2 " class="col-lg-3 col-md-6 col-sm-12 ">
                        <h3>CHI NHÁNH MIỀN TRUNG</h3>
                        <ul style="list-style-type:disc ">
                            <li>470 Hoàng Diệu, P. Bình Thuận, Q.Hải Châu, TP. Đà Nẵng </li>
                            <li><i class="iphone "> Số điện thoại: (023) 63539885</i></li>
                            <li>Email:chinhanhmientrung@nsach.com</li>
                        </ul>
                    </div>
                    <div id="logo-2 " class="col-lg-3 col-md-6 col-sm-12 ">
                        <h3>CHI NHÁNH MIỀN NAM </h3>
                        <ul style="list-style-type:disc ">
                            <li>(Tầng 2) 260 Lê Lợi, Phường 4, TP. Hồ Chí Minh </li>
                            <li><i class="iphone "> Số điện thoại: 02543600139</i></li>
                            <li>Email:chinhanhmiennam@nsach.com</li>
                        </ul>
                    </div>
                    <div id="logo-2 " class="col-lg-3 col-md-6 col-sm-12 ">
                        <h3>CỬA HÀNG GIỚI THIỆU SÁCH </h3>
                        <ul style="list-style-type:disc ">
                            <li>157 Lý Chính Thắng, Quận 3, Thành phố Hồ Chí Minh </li>
                            <li><i class="iphone "> Số điện thoại: (028) 39311433</i></li>
                        </ul>
                    </div>
                    <div id="logo-2 " class="col-lg-3 col-md-6 col-sm-12 ">
                        <h3>GIAN HÀNG SÁCH TẠI HCM</h3>
                        <ul style="list-style-type:disc ">
                            <li>Đường sách TP. Hồ Chí Minh - P. Bến Nghé, Quận 1, Thành phố Hồ Chí Minh </li>
                            <li><i class="iphone "> Số điện thoại: 028) 39141579</i></li>
                        </ul>
                    </div>
                    <div id="logo-2 " class="col-lg-3 col-md-6 col-sm-12 ">
                        <h3>TRUNG TÂM SÁCH CŨ</h3>
                        <ul style="list-style-type:disc ">
                            <li>815-815B Lũy Bán Bích, P. Tân Thành, Quận Tân Phú, Thành phố Hồ Chí Minh </li>
                            <li><i class="iphone "> Số điện thoại: 0327744002</i></li>
                        </ul>
                    </div>
                    <div id="logo-2 " class="col-lg-3 col-md-6 col-sm-12 ">
                        <h3>GIẤY PHÉP HOẠT ĐỘNG</h3>
                        <ul>
                            <li>Giấy phép hoạt động xuất bản số:151/GP-BTTTT ngày 14/4/2017 của Bộ Thông tin và Truyền thông</li>
                            <li>Giấy chứng nhận đăng ký kinh doanh số 4104003288, ngày 23/01/2008 của Phòng Đăng ký kinh doanh, Sở kế hoạch đầu tư thành phố Hồ Chí Minh.</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom ">
            @2016 NXB All rights reserved
        </div>
    </footer>
    <script>
        //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>
</body>

</html>